.Button {
  width: max-content;
  height: 50px;
  padding: 0 1.5rem;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  transition: 0.2s;
  font-size: 18px;
  font-family: "Bilo", sans-serif;
  font-weight: 600;
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.16);
  border: none;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    transform: scale(0.97);
  }

  &.fullwidth {
    width: 100%;

    &:hover {
      transform: scale(1.02);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &.black {
    background-color: black;
    color: white;
  }

  &.white {
    background-color: white;
    color: black;
  }
}
